<form role="form" [formGroup]="submitForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="form-group">
      Email
      <div class="input-container">
        <input class="form-control" type="text" id="email" name="email" formControlName="email" />
        <span class="icon-config" *ngIf="submitFormControl.email.hasError('pattern')"></span>
      </div>
    </div>
    <div class="form-group">
      Password
      <div class="input-container">
        <input type="password" id="password" name="password" formControlName="password"
          required />
      </div>
    </div>
    <div class="form-group">
      Verify password
      <div class="input-container">
        <input type="password" id="verifyPassword"
          formControlName="verifyPassword" name="verifyPassword" required />
        <span class="error" ng-show="submitForm.get('verifyPassword')?.errors['invalidVerifyPassword']">Must match with password</span>
      </div>
    </div>
   
    <div class="form-group form-button">
      <button type="button" type="submit" [disabled]="!submitForm.valid">
        Continue
      </button>
    </div>
  </div>
</form>